body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header {
  min-height: 200px;
  width: 100%;
  border-bottom: 10px solid black;
}

.navBar {
  width: 100%;
  height: 80px;
  display: flex;
  flex-flow: wrap;
  justify-content: space-between;
  border-bottom: 2px solid black;
}

.navList {
  display: flex;
  justify-content: space-around;
  background-color: green;
}

.jumbo {
  height: 400px;
  align-content: center;
}
.jumbo .jumboBox {
  width: 400px;
  margin: 100px auto;
  border: 2px solid black;
  text-align: center;
}

.email {
  display: block;
  margin: 0 auto;
}

.password {
  display: block;
  margin: 0 auto;
}

.leftHand {
    color: blue;
    display: flex;
    justify-content: space-between;    
    margin: 20px;
}

.leftStocks {
    border: black solid;
    height: 43.8rem;
    width: 30rem;
}

.stock0 {
    color: royalblue;
    border-bottom: 5px black solid;
    display: flex;
    justify-content: center;
    font-size: 50px;
}

.stock1 {
    display: flex;
    justify-content: center;
    border-bottom: black solid;
    height: 80px;
}

.stock2 {
    display: flex;
    justify-content: center;
    border-bottom: black solid;
    height: 100px;
}

.stock3 {
    display: flex;
    justify-content: center;
    border-bottom: black solid;
    height: 100px;
}

.stock4 {
    display: flex;
    justify-content: center;
    border-bottom: black solid;
    height: 100px;
}

.stock5 {
    display: flex;
    justify-content: center;
}

.stockList {
    border: black solid;
    height: 43.8rem;
    width: 30rem;
}
