html {
    box-sizing: border-box;

}


.navBar {
    display: flex;
    justify-content: space-between;
}

.navBar li {
    display: inline;
    list-style: none;
    margin: 20px;
    text-decoration: underline;
    font-size: larger;
}

.main {
    display: flex;
    justify-content: center;
}

.email {
    display: flex;
    justify-content: center;
}

.password {
    display: flex;
    justify-content: center;
    margin-left: 25px;
}
