body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header {
  min-height: 200px;
  width: 100%;
  border-bottom: 10px solid black;
}

.navBar {
  width: 100%;
  height: 80px;
  display: flex;
  flex-flow: wrap;
  justify-content: space-between;
  border-bottom: 2px solid black;
}

.navList {
  display: flex;
  justify-content: space-around;
  background-color: green;
}

.jumbo {
  height: 400px;
  align-content: center;
}
.jumbo .jumboBox {
  width: 400px;
  margin: 100px auto;
  border: 2px solid black;
  text-align: center;
}

.email {
  display: block;
  margin: 0 auto;
}

.password {
  display: block;
  margin: 0 auto;
}
